<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'LoginReg/css/style.css'%}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="main_content">
      <h2>Welcome!</h2>
      <fieldset>
        <legend>Register</legend>
        <form class="register" action="{% url 'LoginReg:register' %}" method="post">
          {% csrf_token %}
          <label for="name">
            Name:
            <input type="text" name="name">
          </label>
          <label for="last_name">
            Email:
            <input type="text" name="username">
          </label>
          <label for="password">
            Password:
            <input type="password" name="password" value=''>
          </label>
          <label for="password_confirmation">
            Confirm PW:
            <input type="text" name="password_confirmation" value=''>
          </label>
          <label for="hire_date">
            Date of Birth
            <input type="date" name="hire_date">
          </label>
          <button type="submit" name="button">Register</button><br>
        </form>
      </fieldset>
      <fieldset>
        <legend>Login</legend>
        <form class="login" action="{% url 'LoginReg:login' %}" method="post">
          {% csrf_token %}
          <label for="username">
            Email
            <input type="username" name="username">
          </label>
          <label for="password">
            Password
            <input type="password" name="password">
          </label>
          <button type="submit" name="button">Login</button>
        </form>
      </fieldset>

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </body>
</html>
